*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: fuchsia;
    display: grid;
    place-content: center;
    text-align: center;
}

.card {
    background-color: white;
    height: 400px;
    width: 250px;
    display: grid;
    margin:100px;
}

.card-details {
    background-color: greenyellow;
}