*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: fuchsia;
    display: grid;
    place-content: center;
}

.card {
    background-color: white;
    height: 400px;
    width: 250px;
    display: grid;
    place-items:center;
    margin:20vh;
}